{% extends 'mriadmin/layout.html' %}{% block body %}

<h3 id="about" class="news-heading">ABOUT</h3>
<p>
  The Mount Royal International School in Dehiwala was started in 2011, as a
  business unit of I.B.S. Campus (Pvt) Ltd. Initially the Preschool was started
  and two years later upper grades from 1 to 11 were started.
</p>

<h4>Some facts about the School:</h4>
<hr />
<ul>
  <li>
    The <strong>Vision</strong> of the school is
    <strong>“To create a value based society with meaningful living”</strong>
  </li>
  <li>
    The <strong>Mission</strong> of the school is
    <strong>
      “ To provide learning experience based on the divine knowledge and
      acquired knowledge that will advance the holistic development of our
      students”</strong
    >
  </li>
  <li>
    Our <strong>Core Values</strong> are
    <strong> “Discipline, Honesty, Peace and Humanity” </strong>
  </li>
  <li>
    The school has three separate sections, namely; the Pre-school, Boys school
    and the Girls school which are located at three separate places / buildings
    on the same Kawdana road.
  </li>
  <li>
    <strong>“Value based education”</strong> is the basic principle of this
    school. The school strives to inculcate good values in the minds of its
    students.
  </li>
  <li>
    The school maintains a
    <a target="_blank" href="https://www.facebook.com/mountroyallk"
      >facebook account</a
    >
    to share its activities with parents and stakeholders.
  </li>
  <li>
    Students from all communities in this country and some foreign students,
    mainly from Maldives study at this school
  </li>
  <li>
    The school has made four houses, namely
    <strong> Ibn Sina, Umar, Thomas Alva Edison, and Albert Einstein</strong>
    to hold competitions and events such as sports meet, debate competitions etc
  </li>
  <li>
    The principle of this school Mr. T.L.M. Jemseed, who is a Chartered
    Accountant by profession and having a BCom and MBA degrees. Also he is the
    Chairman of Benhill College in Gampola.
  </li>
</ul>

{% endblock %}
