{% extends 'mriadmin/layout.html' %}{% block body %}

<h3 class="news-heading" id="school-song-heading">SCHOOL SONG</h3>

<p class="school-song">
  Like a family you will always be a part of my thinking and heart
  <br />

  As I walk through life I will shine your light Ever mindful of my humble start
  Although I am unique I will always seek Respect for all those I meet
  <br />

  Harmony with everyone will make my life complete Mount Royal evermore let your
  stands prevail Throughout the world throughout my life compassion
  <br />

  will not fail
  <br />

  With an open mind I know I will find knowledge
  <br />

  Trough all my years
  <br />

  Whether far or near I will always hear the Sound of your voice in my ears As I
  live my life I will always strive to be
  <br />

  All that I can be
  <br />

  Hail to thee Mount Royal School thanks for
  <br />

  Shaping me
  <br />

  Mount Royal for ever more let our wisdom ring true Throughout the world I’ll
  live my life a testament to you
  <br />

  We the Mount Royal will learn to live And side by side will always stand We
  will walk the halls of learning to
  <br />

  Clarify our vision The flame of truth is burning For our faith will never die
  <br />

  We are the children of Mount Royal together we will stand
  <br />
</p>
{% endblock %}
