{% extends 'mriadmin/layout.html' %}{% block body %}

<h3 class="news-heading">SENIOR SCHOOL</h3>

<h3>HISTORY</h3>
<hr />
<p>
  At Mount Royal International School, admissions are carried out throughout the
  year. Any student can be admitted at any given term. <br />The school’s
  academic calendar consists of three terms:
</p>
<ul>
  <li>1<sup>st</sup> term - January to April</li>
  <li>2<sup>nd</sup> term - May to August</li>
  <li>3<sup>rd</sup> term - September to December</li>
</ul>

{% endblock %}
